* {margin: 0;padding: 0}

	body {
			background-color: black;
			 background-image: url(https://www.randomim.com/incomplete/Sizzle.gif);
			

		}


		h1 {
  color: darkred;
  text-decoration: none;
  font-family: Royal;
  text-shadow: 0 0 80px rgb(166 16 30 / 100%), 0 0 32px rgb(220 20 60 / 40%);
  background: url(redstatic.gif) -90% -90%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: normal;
  font-size: 3.3rem;
  letter-spacing: 1px;
  text-shadow: 0px 1px 45px red;
  text-align: center;
  padding-bottom: 20px;





}

.container {
				 background-image: url(https://www.randomim.com/incomplete/Sizzle.gif);

	margin: 30px auto;
	max-width: 700px;
	overflow: hidden;
	padding: 20px;
	border-radius: 4px;

}
.btn {
	
	background-color: #ddd;
	color: #000;

	border: 0;
	white-space: nowrap;
	text-decoration: none;
	font-size: 45px; 
	font-weight: 400;
	cursor: none;
	border-radius: 3px;
	margin: 0 3px 8px 0;
 display: block;
  width: 50%;
  margin: 0 auto;
  padding:10px 3px 10px 3px;
      margin-bottom: 5px;    

	



}
.btnprogram {background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: none;
    overflow: hidden;
    outline: none;
    color: darkred; 
  text-decoration: none;
 font-family: "Royal", "Lucida Console", "Helvetica", monospace;
  text-shadow: 0 0 80px rgb(166 16 30 / 100%), 0 0 32px rgb(220 20 60 / 40%);
  background: url(redstatic.gif) -90% -90%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: normal;
    font-size: 30px; 
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 76px red;
  text-align: center;}



.btnresonation {background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: none;
    overflow: hidden;
    outline: none;
    color: darkred; 
  text-decoration: none;
 font-family: "Royal", "Lucida Console", "Helvetica", monospace;
  text-shadow: 0 0 80px rgb(166 16 30 / 100%), 0 0 32px rgb(220 20 60 / 40%);
  background: url(redstatic.gif) -90% -90%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: normal;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 76px indianred;
    font-size: 30px; 

}

.btnfulcrum {background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: none;
    overflow: hidden;
    outline: none;
    color: darkred; 
  text-decoration: none;
 font-family: "Royal", "Lucida Console", "Helvetica", monospace;
  text-shadow: 0 0 80px rgb(166 16 30 / 100%), 0 0 32px rgb(220 20 60 / 40%);
  background: url(redstatic.gif) -90% -90%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: normal;

  letter-spacing: 0.5px;
  text-shadow: 2px 2px 76px indianred;
    font-size: 30px; 
  text-align: center;}

.btnconnect {background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: none;
    overflow: hidden;
    outline: none;
    color: darkred; 
  text-decoration: none;
 font-family: "Royal", "Lucida Console", "Helvetica", monospace;
  text-shadow: 0 0 80px rgb(166 16 30 / 100%), 0 0 32px rgb(220 20 60 / 40%);
  background: url(redstatic.gif) -90% -90%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: normal;

  letter-spacing: 0.5px;
  text-shadow: 2px 2px 76px indianred;
    font-size: 30px; 
    text-align: center;
}







.modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalPrimary .modalHeader, .modalPrimary .modalFooter, .modalPrimary .modalClose {
	background-color: black;
	border: 1px solid black;
	color: red;
}

.modalSuccess .modalHeader, .modalSuccess .modalFooter, .modalSuccess .modalClose {
	background-color: black !important;
	border: 1px solid black;
	color: red;
}

.modalInfo .modalHeader, .modalInfo .modalFooter, .modalInfo .modalClose {
	background-color: black !important;
	border: 1px solid black;
	color: red;
}

.modalWarning .modalHeader, .modalWarning .modalFooter, .modalWarning .modalClose {
	background-color: #F0AD4E !important;
	border: 1px solid #F0AD4E;
	color: #fff;
}

.modalContent {
	position: relative;
	margin: 30px auto;
	padding: 0;
	max-width: 600px;
	border: 1px solid #888;
	box-shadow: 0 3px 7px rgba(0,0,0,0.4);
	border-radius: 6px;
	opacity: 1;
	transition: opacity 0.4s;
	animation-name: modalopen;
	animation-duration: 0.4s;
	background-color: black;
}
.modalHeader {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	padding: 13px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 6px 6px 0 0;
}
.modalBody {
	background-color: black;
	line-height: 22px;
	padding: 15px;
}
.modalFooter {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-radius: 0 0 6px 6px;
	padding: 13px;
	font-size: 16px;
	font-weight: 500;
}
.modalFooter div {
	float: right;
	margin: -7px -10px 0 0;
}
.modalClose {
	color: red;
	float: right;
	font-size: 24px;
	font-weight: bold;
}
.modalClose:hover,.modalClose:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}
@keyframes modalopen {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media (max-width: 768px) {
	.modalContent {
		width: 94%;
	}
	.modalContent {
		margin: 15px auto;
	}
}
 span {
 	color: red;
  font-family: monospace;
  letter-spacing: 3px;
  font-size: 10px;
  line-height: 0.5px;
 }

 .spotify {
 	font-family: monospace;
font-weight: normal;
letter-spacing: 2px;
white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 10s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;


}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }

 }

 .soundcloud {
 	font-family: monospace;
font-weight: normal;
letter-spacing: 2px;
font-family: monospace;
font-weight: normal;
letter-spacing: 3px;
white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 12s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;

 }

 .applemusic
{
font-family: monospace;
font-weight: normal;
letter-spacing: 2px;
white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 14s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;
}
 .tidal
{ font-family: monospace;
	font-weight: normal;
letter-spacing: 2px;
	white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 15s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;
}
 .bandcamp
{font-family: monospace;
	font-weight: normal;
letter-spacing: 2px;
	white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 19s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;

}

.resonation {
	white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(26, end),
        cursor-blink 0.3s step-end infinite alternate;
        letter-spacing: 4px;
        font-size: 10px;
}

.loading1 { white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 4s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate; }

.release {
white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 4s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;
        color: red; font-family: monospace; font-size: 15px;
        letter-spacing: 4px;
}

.recluse {
	white-space: nowrap;
    overflow: hidden;
     animation-delay: 5s;
    animation: typing 6s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;
        letter-spacing: 1px;
        font-size: 12px;
}

.loading2 {
	white-space: nowrap;
    overflow: hidden;
     animation-delay: 2s;
    animation: typing 8s steps(56, end),
        cursor-blink 0.3s step-end infinite alternate;
        letter-spacing: 3px;

}

.instagram {font-family: monospace;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 3px;}

.twitter {font-family: monospace;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 3px;}

.ihateu {font-family: monospace;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 3px;}

.kms {font-family: monospace;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 3px;}

	.kys {font-family: monospace;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 3px;}

.compiling {font-family: monospace;
	font-weight: normal;
	letter-spacing: 3px;
    color: red;}

.bar {
	font-family: monospace;
	font-weight: normal;
	letter-spacing: 3px;

}

.wait {
font-family: monospace;
	font-weight: normal;
	letter-spacing: 3px;
}

	* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: none;
}
body {
   height: 100vh; 
}


.cursor {
   position: fixed;
   font-size: 25pt;
   transform: translate(-50%, -50%);
   pointer-events: none;
   transition: font-size .1s ease, opacity .1s ease;
   filter: drop-shadow(0 0 12px red) brightness(2.2);
	opacity: .5;
}
.cursor.link {
   font-size: 65pt;
   opacity: 5;
}

#cursor.link {
   font-size: 65pt;
   opacity: 5;
}

.fulcrum  {
	letter-spacing: 2px;

}

.loading3 {
	white-space: nowrap;
    overflow: hidden;
   

}

